#Dependências
node_modules/

#Relatório mocha
mochawesome-report

#Relatórios cucumber
reports/index.html
reports/index.html.json
reports/cucumber-json/**

#Videos e Screenshots
videos/
screenshots/

#Outros
.DS_Store