#Dependências
node_modules/

#Relatório mocha
mochawesome-report

#Relatórios cucumber
cypress/reports/index.html
cypress/reports/index.html.json
cypress/reports/cucumber-json/**

#Videos e Screenshots
cypress/videos
cypress/screenshots

#Outros
.DS_Store